<section class="text-center m-5">
    <h1 class="text-center" >Welcome To Blood Glucose tracker</h1>
    <p>Click here to add a new record</p>
    <%= link_to('Add Reading', new_glucose_path, class: 'btn btn-primary m-5') %>
    <%= link_to('Generate Report', generate_report_path, class: 'btn btn-secondary m-5') %>
    <%=
        link_to_if(current_user.nil?, "Login", sign_in_path, class: 'btn btn-primary m-5') do
            link_to('Sign out',  destroy_user_session_path, :method => 'delete', class: 'btn btn-danger m-5')
        end
    %>

</section>